@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&display=swap');

body {
  margin: 0;
}

/* ---- navbar ---- */
nav {
  display: flex;
  gap: 180px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}

.logo {
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  font-size: 25px;
  padding-left: 20px;
  font-style: normal;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  font-size: 25px;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.navItems a {
  text-decoration: none;
  color: white;
}

/* ---- page d'acceuil ---- */
.home {
  background-image: url("/backgroundHome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home::before{
    content: "";
    background: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;

}
.home >*{
    position: relative;
    z-index: 2;
}
.home h1{
    display: flex;
    height: 80px;
    align-items: center;
    color: white;
     text-shadow: 2px 2px #AB33BA;
}
.home button {
    background-color:blueviolet; 
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px #AB33BA;

}

.home button:hover {
    background-color: #AB33BA; 
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #AB33BA;
}
/* ---- page quiz ---- */
.quiz {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz::before{
    content: "";
    background: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;

}
.quiz >*{
    position: relative;
    z-index: 2;
}
.quiz section{
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 5px 15px #AB33BA; 
}

.option{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    

}
.option button{
    padding: 20px;
    background-color:#AB33BA; 
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.option button:hover{
    background-color:blueviolet; 
}